#### Scikit-Learn Course - https://www.youtube.com/watch?v=pqNCD_5r0IU

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
from sklearn.datasets import load_iris
iris = load_iris(return_X_y=True)
X, y = iris

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [4]:
X_train.shape  # 80% of the dataset

(120, 4)

## K-NN with iris

In [ ]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

X,y = load_iris(return_X_y=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5, weights='distance')
knn.fit(X,y)

1.0

In [ ]:
knn.predict(X_test)

array([1, 2, 2, 1, 1, 0, 0, 1, 2, 2, 0, 2, 1, 1, 2, 1, 1, 0, 2, 1, 1, 1,
       2, 0, 2, 0, 0, 1, 0, 2])

## KNN with car dataset

In [ ]:
from sklearn import neighbors, metrics
from sklearn.preprocessing import LabelEncoder

In [24]:
data = pd.read_csv('car.data')
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [27]:
X = data[['buying', 'maint', 'safety']]
y = data['class']

     buying  maint safety
0     vhigh  vhigh    low
1     vhigh  vhigh    med
2     vhigh  vhigh   high
3     vhigh  vhigh    low
4     vhigh  vhigh    med
...     ...    ...    ...
1723    low    low    med
1724    low    low   high
1725    low    low    low
1726    low    low    med
1727    low    low   high

[1728 rows x 3 columns] 0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1723     good
1724    vgood
1725    unacc
1726     good
1727    vgood
Name: class, Length: 1728, dtype: object